process {
    withName: "REGISTRATION_POSTOP_ON_PREOP"{
        cpus = 8
        time = { task.attempt * 2.h }
        ext.quick = false
        ext.threads = 8
        ext.transform = "s"
        ext.random_seed = 666
        maxForks = 1
    }
}

process {
    withName: "REGISTRATION_REFERENCE_ON_PREOP"{
        cpus = 8
        time = { task.attempt * 2.h }
        ext.quick = false
        ext.threads = 8
        ext.transform = "s"
        ext.random_seed = 666
        maxForks = 1
    }
}

process {
    withName: "REGISTRATION_TRACTOGRAM"{
        cpus = 1
        memory = { task.attempt * 5.GB }
        time = { task.attempt * 30.m }
        ext.inverse = true
        ext.force = true
        ext.reverse_operation = false
        ext.cut_invalid = true
        ext.remove_single_point = true
        ext.remove_overlapping_points = true
        ext.threshold = 0.001
        ext.no_empty = true
    }
}

process {
    withName: "REGISTRATION_ANTSAPPLYTRANSFORMS" {
        cpus = 1
        memory = { task.attempt * 5.GB }
        time = { task.attempt * 10.m }
        ext.interpolation = "NearestNeighbor"
        ext.dimensionality = 3
        ext.image_type = 0
        ext.output_dtype = "int"
        ext.default_val = 0
    }
}

process {
    withName: "STREAMLINES_IN_MASK" {
        cpus = 1
        memory = { task.attempt * 5.GB }
        time = { task.attempt * 10.m }
    }
}
