process {
    withName: "REGISTRATION_POSTOP_ON_PREOP"{
        cpus = 4
        memory = { task.attempt * 10.GB }
        time = { task.attempt * 1.h }
        ext.quick = false
        ext.threads = 4
        ext.transform = "a"
        ext.random_seed = 666
    }
}

process {
    withName: "REGISTRATION_REFERENCE_ON_PREOP"{
        cpus = 8
        memory = { task.attempt * 10.GB }
        time = { task.attempt * 1.h }
        ext.quick = false
        ext.threads = 8
        ext.transform = "s"
        ext.random_seed = 666
    }
}

process {
    withName: "REGISTRATION_TRACTOGRAM"{
        cpus = 1
        memory = { task.attempt * 5.GB }
        time = { task.attempt * 30.m }
        ext.inverse = true
        ext.force = true
        ext.reverse_operation = false
        ext.cut_invalid = true
        ext.remove_single_point = true
        ext.remove_overlapping_points = true
        ext.threshold = 0.001
        ext.no_empty = true
    }
}